PORT=3000
NODE_ENV=development

# Selector de motor: sqlite | mysql | postgres | mssql
DB_DIALECT=sqlite

# SQLite (desarrollo local)
DB_SQLITE_STORAGE=lectura_abierta.db

# Credenciales MySQL
DB_MYSQL_HOST=localhost
DB_MYSQL_PORT=3306
DB_MYSQL_USERNAME=root
DB_MYSQL_PASSWORD=root
DB_MYSQL_NAME=lectura_abierta

# Credenciales PostgreSQL
DB_POSTGRES_HOST=localhost
DB_POSTGRES_PORT=5432
DB_POSTGRES_USERNAME=postgres
DB_POSTGRES_PASSWORD=postgres
DB_POSTGRES_NAME=lectura_abierta

# JWT
JWT_SECRET=secreto-super-seguro-lectura-abierta-2026
JWT_EXPIRES_IN=1d
JWT_REFRESH_SECRET=secreto-refresh-lectura-abierta-2026
JWT_REFRESH_EXPIRES_IN=7d
